ul {
  margin-top: 10px;
  padding: 0;
}

li {
  color: #282c34;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5 px;
  line-height: 425pxpx;
}

.weather-info {
  margin-top: 20px;
  color: #282c34;
  line-height: 20px;
}
